name: GitHub Pylint on Windows

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
   
    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.*'  # Specify the Python version to use

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Pylint
      run: |
        pip install pylint

    - name: Run Pylint with fail-under threshold
      run: |
        # This command runs pylint and will fail the job if the score is below 8.0
        pylint $(git ls-files '*.py') --fail-under=9.0