name: CI Pipeline

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
   
    steps:
    - name: Check out repository code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Pylint
      run: |
        pip install pylint

    - name: Run Pylint with fail-under threshold
      run: |
        # This command runs pylint and will fail the job if the score is below 8.0
        pylint $(git ls-files '*.py') --fail-under=9.0
    
    - name: Run Tests
      run: |
        pytest tests/

    - name: Semgrep Scan
      uses: returntocorp/semgrep-action@v1
      with:
        config: 'p/ci'